<h1> New Post</h1>
<%= form_for @post do |f| %>
    <%=f.label :title %>
    <%=f.text_field :title %><br>
    <%=f.label :content %>
    <%=f.text_area :content %><br><br>
    Categories: <br>
    <%=f.collection_check_boxes :category_ids, Category.all, :id, :name%><br>
    Other category:<br>
    <%=f.fields_for :categories, @post.categories.build do |cat_fields| %>
       
        <%= cat_fields.text_field :name%>
    <% end  %>
    <%=f.submit %>
<% end %>

